<!DOCTYPE HTML>
<html>
  
  <header>
  <div class="memo_header"></div>
  </header>

  <body>
  <div class="memos_1">
    <div class="memos_1-1"></div>
    <div class="memos_1-2"></div>
  </div>
  <div class="memos_2">
    <div class="memos_2-1"></div>
    <div class="memos_2-2"></div>
  </div>
  </body>
</html>