<div class="side-bar-header">
  <div class="header-nickname">
    <a href="#">ユーザー</a>
  </div>
  <div class="create-environment">
    <a href="#">新規シート作製</a>
  </div>
</div>

<div class="environments">
  <div class="environment">
    <div class="environment-name">
      <a href="#">sheet1</a>
    </div>
  </div>
  <div class="environment">
    <div class="environment-name">
      <a href="#">sheet2</a>
    </div>
  </div>
</div>